@charset "utf-8";
@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/CalibriL.ttf');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */

.error-section{
	margin-top:50px;
	}
.error-block{
	display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

#id_submit {
  font-family: "CalibriLight", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#id_submit:hover,form #id_submit:active,form #id_submit:focus {
  background: #43A047;
}
