@charset "utf-8";
@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/CalibriL.ttf');
    font-weight: normal;
    font-style: normal;
}

/* CSS Document */
body {
    font-family: 'CalibriLight';
    margin: 0px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: 0 0 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.large-only {
    display: none;
}

.mobile-only {
    display: inline-block;
}

.main__sidebar--first {
    order: 1;
}

.main__sidebar--second {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    order: 3;
}

.main__content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    order: 2;
}

@media all and ( min-width: 720px ) {
    .large-only {
        display: inline-block;
    }

    .mobile-only {
        display: none;
    }

    #sportsnav {
        height: auto !important;
        position: fixed;
        padding: 0;
        top: 80px;
        bottom: 0;
        left: 0;
        z-index: 80;
        width: 240px;

    }

    .menu-wrapper {
        background-color: #333;
        position: absolute;
        top: 0;
        left: 0;
        right: 10px;
        bottom: 0;
        width: 240px;
        height: 100%;
        overflow: auto;
        /*padding-bottom: 80px;*/
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    main {
        margin-left: 240px;
        flex-direction: column;
    }

    .main__content {
        flex: 1;
    }

}

@media all and ( min-width: 960px ) {
    main {
        margin-left: 240px;
        flex-direction: row;
    }

}

header {
    background-color: #333;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #222;
    z-index: 1000;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

header > .actions {
    float: right;

}

header > * {
    line-height: 70px;
    margin: 0px;
    padding: 0px;
}

header > .logo {
    float: left;
    width: 20%;
}

header > ul {
    margin: 0;
    padding: 4px;

}

header > ul > li {
    display: table-cell; 
    margin-right: 5px; 
    border: none; 
    border-left: 1px solid #000;
    height: 75px;
    min-width: 71px;
    text-align: center;

}

header > ul > li :hover {
    background-color: #222;
}

header > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    transition: All 0.5s ease;

}

.dropdown-languages {
    margin: 0px 10px 0px 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

#sportsnav {

    padding: 0;

}

.menu-wrapper {
    background-color: #333;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-menu {
    padding: 0px;
    margin: 0px;
}

.left-menu > li {
    display: block;
    vertical-align: middle;
    width: 100%;

    color: #e0e0e0;
    font-size: 16px;
    border-bottom: 1px solid #222;

}

.left-menu > li > a {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    color: #C1C1C1;
    font-size: 20px;
    transition: All 0.5s ease;

}

.left-menu > li > a:hover {

    color: #fff;
    background-color: #222;
}

.left-menu-item {
    padding: 5px;
    padding-left: 15px;
    vertical-align: middle;
    height: 50px;
    display: table-cell;
}

.left-menu > .title {
    background-color: #222;
    color: rgba(120, 120, 120, 1.00);
    font-size: 18px;
    padding: 10px;
}

.logo {
    padding-left: 40px;
}
.width-full{
    width: 100%;
}
.competitions-table {
    background-color: #ddd;
    text-align: center;
    vertical-align: middle;

    border: none;
    /*width: 100%;*/
    border-spacing: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr:nth-child(odd) {
    background-color: #E3E3E3
}

th, td {
    padding: 15px;
    text-align: center;
}

.competitions-table > tbody > tr > th {
    border: 1px solid #222;
    background-color: #333;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.competitions-table > tbody > tr > td {
    border: 1px solid #fff;

}

.center-hot-block {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: #333;
    color: #fff;
    display: table;
    width: 100%;
    margin-bottom: 20px;

}

.right-stick {
    display: block;
    position: relative;
    padding: 5px;
    float: right;
    font-size: 18px;
    background-color: #FF0004;

}

.center-title {
    text-align: center;
}

.center-hot-block > .block-content {
    padding: 20px;
}

.center-block {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 20px;
}

.right-block {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 20px;
}

.block-header {
    height: 50px;
    background-color: #333;
    color: #fff;
    display: table;
    width: 100%;
}

.block-header > h3 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

.competitions {
    padding: 0px;
    margin: 0px;
}

.competitions > li {
    list-style-type: none;
}

.competitions > li:nth-child(even) {
    background-color: #E3E3E3
}

footer {
    text-align: center;
    margin: 50px;
}

.sport-icon-menu {
    height: 40px;
    vertical-align: middle;
    margin-right: 20px;
}
.sport-icon {
    height: 40px;
    vertical-align: middle;

}

.competition {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
	
}

.coefficient {
    display: inline-block;
    margin-top: 3px;
    padding: 5px;
    background-color: #CD0003;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: All 0.5s ease;
}

.coefficient:hover {
    background-color: #870001;

}
#profile .portrate {
    background-image: url(../images/avatar/avatar.png);
    width: 125px;
    margin: 0 auto;
    height: 125px;
    border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
#profile > .title {
    color: rgb(197, 197, 197);
    display: table;
    margin: 0 auto;
}
.loading {
    display: none;
    height: 30px;
    float:right;
}
